/*Reset*/
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --color-bg: #fefefe;
    --color-primary:#9f01fa; 
    --color-dark: #000;
    --color-light: #fefefe;
}

body {
    background-color: var(--color-bg);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    height: 100vh;
}

/* HEADER */
.container {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: var(--color-dark);
    width: 90%;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;
    position: fixed;
    right: 67px;
}

/*LOGO*/
.logo-container {
    width: 200px;
    height: 100px;
    background-color: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skew(-20deg) scale(0.9);
    border-radius: 15px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img__logo {
    width: 90%;
    height: auto;
    padding: 5px;
    object-fit: contain;
}

/*MENU*/
.menu__items {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu__items li a {
    color: var(--color-light);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.menu__items li a:hover {
    text-decoration: underline;
}

.presentation {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 50px;
    width: 90%;
    height: 500px;
}

.describe {
    color: var(--color-light);
}

.foto {
    border-radius: 50%;
    width: 270px;
    height: 295px;
    object-fit: copver;
    margin-left: 20px;
}

.icons {
    display: flex;
    gap: 20px;
    align-self: flex-end;
    margin-top: 20px;
}

.icons a {
    color: var(--color-dark);
    text-decoration: none;
    font-weight: bold;
}

.icons a:hover {
    text-decoration: underline;
}

/*MAIN*/
main {
    background-color: var(--color-dark);
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.title {
    text-align: center;
    text-decoration: underline;
    padding: 50px 0 10px;
    font-size: 32px;
    color: var(--color-primary);
}

.content {
    padding: 0 50px;
}

.list {
    list-style: none;
}

.icon-container {
    background-color: var(--color-light);
    border: solid 3px var(--color-primary);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    border-radius: 20px;
    height: 270px;
    margin: 20px 0;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-container img {
    width: 135px;
    height: auto;
}

#html {
    width: 155px;
    height: 155px;
    margin-top: -15px;
}

#ia {
    width: 165px;
    margin-top: -10px;
}

.icon-link {
    margin-top: 10px;
    text-align: center;
    color: var(--color-dark);
    font-weight: bold;
    text-decoration: none;
}

.html-link {
    margin-top: 15px;
}

.css-link {
    margin-top: 25px;
}

.js-link {
    margin-top: 25px;
}

.github-link {
    margin-top: 25px;
}

.ia-link {
    margin-top: 8px;
}

.icon-link:hover {
    text-decoration: underline;
}

.hobbie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hobbie-link {
    margin-top: 10px;
    text-align: center;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.hobbie-link:hover {
    text-decoration: underline;
}

.formations {
    display: flex;
    justify-content: space-around;
    background-color: var(--color-light);
    border: solid 3px vaer(--color-primary);
    width: auto;
    height: 450px;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
}

.alura,
.skill {
    display: flex;
    align-items: center;
    color: #000000;
    padding: 0px;
}

.skill {
    gap: 50px;
}

a img {
    transition: transform 0.3s ease;
}

a img:hover {
    transform: scale(1.1);
}

.content {
    display: flex;
    flex-direction: column;
}

.exper-content {
    background-color: var(--color-light);
    color: var(--color-dark);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px 0 80px;
    border: solid 3px var(--color-primary);
}

.projects-section, .practices-section{
    width: 48%;
    text-align: center;
}

.proy-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.project-item img{
    width: 300px;
    height: auto;
}

.practices-section{
    margin-top:140px;

}
.pract-content{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.pract-content img{
    width: 100px;
    height: auto;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*FOOTERr*/
footer {
    width: 90%;
    background-color: var(--color-primary);
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    justify-content: center;
}

footer img {
    width: 464px;
    height: 593px;
    background-color: #FEFEFE;
    border-radius: 16px;
    margin: 50PX;
    border: solid 3PX #000000;
}

.contenido {
    flex: 1;
    max-width: 600px;
    height: 650px;
    padding: 20px;
    background-color: #FEFEFE;
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: solid 3px #000000;
    right: 100px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    background-color: var(--color-dark);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

form button:hover {
    background-color: var(--color-primary);
    border: solid 1px var(--color-dark);
}

#contacto {
    color: var(--color-dark);
    padding: 30px;
    font-size: 32px;
}

.download-btn {
    padding: 10px 20px;
    align-self: start;
    background-color: var(--color-dark);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.download-btn:hover {
    background-color: var(--color-primary);
    border: solid 1px var(--color-dark);
}

.info {
    width: 90%;
    padding: 10px;
    background-color: black;
    color: var(--color-bg);
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
}
