/*RESET*/
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --color-bg: #fefefe;
    --color-primary:#9f01fa; 
    --color-dark: #000;
    --color-light: #fefefe;
}


body {
    background-color: var(--color-bg);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    height: 100vh;
}

html {
    scroll-behavior: smooth; /* Desplazamiento suave */
    scroll-padding-top: 80px; /* Ajusta según la altura de tu header fijo */
}

/* HEADER */
.container {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: var(--color-dark);
    width: 90%;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
}

/*LOGO*/
.logo-container {
    width: 130px;
    height: 50px;
    background-color: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skew(-20deg) scale(0.9);
    border-radius: 15px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img__logo {
    width: 90%;
    height: auto;
    padding: 5px;
    object-fit: contain;
}

/*MENU*/
.menu__items {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.menu__items li a {
    color: var(--color-light);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.menu__items li a:hover {
    text-decoration: underline;
}

.menu-toggle {
    display: none; /* Se oculta en pantallas grandes */
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/*PRESENTATION*/
.presentation {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px;
    width: 100%;
}

.describe {
    color: var(--color-light);
}

.foto {
    border-radius: 50%;
    width: 200px;
    height: 220px;
    object-fit: copver;
    margin-left: 20px;
}

.icons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.icons a {
    color: var(--color-dark);
    text-decoration: none;
    font-weight: bold;
}

.icons a:hover {
    text-decoration: underline;
}

/*MAIN*/
main {
    background-color: var(--color-dark);
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.title {
    text-align: center;
    text-decoration: underline;
    padding: 30px 0 10px;
    font-size: 24px;
    color: var(--color-primary);
}

.content {
    padding: 0 50px;
}

.list {
    list-style: none;
}

.icon-container {
    background-color: var(--color-light);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width:100%;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    flex-wrap: wrap;

}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-container img {
    width: 100px;
    height: auto;
}

#html {
    width: 155px;
    height: 155px;
    margin-top: -15px;
}

#ia {
    width: 165px;
    margin-top: -10px;
}

.icon-link {
    margin-top: 10px;
    text-align: center;
    color: var(--color-dark);
    font-weight: bold;
    text-decoration: none;
}

.html-link {
    margin-top: 15px;
}

.css-link {
    margin-top: 25px;
}

.js-link {
    margin-top: 25px;
}

.github-link {
    margin-top: 25px;
}

.ia-link {
    margin-top: 8px;
}

.icon-link:hover {
    text-decoration: underline;
}

.hobbie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hobbie-link {
    margin-top: 10px;
    text-align: center;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.hobbie-link:hover {
    text-decoration: underline;
}

.formations {
    display: flex;
    justify-content: space-around;
    background-color: var(--color-light);
    width: auto;
    height: 450px;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
}

.alura,
.skill {
    display: flex;
    align-items: center;
    color: #000000;
    padding: 0px;
}

.skill {
    gap: 50px;
}

a img {
    transition: transform 0.3s ease;
}

a img:hover {
    transform: scale(1.1);
}

.content {
    display: flex;
    flex-direction: column;
}

.exper-content {
    background-color: var(--color-light);
    color: var(--color-dark);
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; 
}

.projects-section, .practices-section{
    width: 100%;
    text-align: center;
}

.proy-content, .pract-content {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 15px; 
    flex-wrap: wrap; 
}

.project-item img, .pract-content img {
    width: 200px; 
    height: auto;
}

#web_ventas {
    height: 100px;
}
.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



/*FOOTERr*/
footer {
    width: 100%;
    background-color: var(--color-primary);
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

footer img {
    width: 250px;
    height: auto;
    border-radius: 16px;
    margin: 20px;
    max-width: 100%;
}

.contenido {
    flex: 1;
    max-width: 500px;
    padding: 20px;
    background-color: #FEFEFE;
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: solid 2px #000;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    background-color: var(--color-dark);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: var(--color-primary);
    border: solid 1px var(--color-dark);
}

#contacto {
    color: var(--color-dark);
    padding: 20px 0;
    font-size: 28px;
}

.download-btn {
    padding: 10px 20px;
    background-color: var(--color-dark);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.download-btn:hover {
    background-color: var(--color-primary);
    border: solid 1px var(--color-dark);
}

.info {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: var(--color-bg);
    margin: 0 auto;
    text-align: center;
}



/*RESPONSIVO*/
@media (max-width: 768px) {
    * {
        box-sizing: border-box;
    }
    html, body {
        overflow-x: hidden; /* Evita el desplazamiento horizontal */
        width: 100vw;
    }    

    .container {
        max-width: 100%;
        overflow: hidden;
    }

    .menu-toggle {
        display: block; /* Se muestra en pantallas pequeñas */
    }

    .menu__items {
        display: none; /* Ocultar menú por defecto */
        flex-direction: column;
        position: absolute;
        top: 58px;
        right: 0;
        background: var(--color-dark);
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .menu__items li {
        padding: 10px 0;
    }

    .menu__items.active {
        display: flex; /* Mostrar cuando el usuario haga clic */
    }

    .presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px;
    }
    
    .foto {
        width: 150px;
        height: 150px;
        margin-top: 20px;
    }

    .content {
        padding: 0 20px;
    }

    .icon-container {
        flex-direction: column;
        align-items: center;
    }

    .formations {
        flex-direction: column;
        height: auto;
    }
    
    .footer-content {
        flex-direction: column;
    }

    .contenido {
        max-width: 90%;
    }

    footer img {
        width: 80%;
        max-width: 250px;
    }
}



@media (max-width: 480px) {
    .container {
        width: 95%;
    }

    .logo-container {
        width: 100px;
        height: 40px;
    }
}
